@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  25% { background-position: 100% 50%; }
  50% { background-position: 100% 100%; }
  75% { background-position: 0% 100%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient-slow {
  animation: gradientShift 8s ease infinite;
}

.animate-gradient-normal {
  animation: gradientShift 4s ease infinite;
}

.animate-gradient-fast {
  animation: gradientShift 2s ease infinite;
}

.animate-gradient-very-fast {
  animation: gradientShift 1.33s ease infinite;
}
